span#prueba-de-span {
    color: blue;
}

section {
    background: skyblue;
    padding: 15px;
}

a {
    text-decoration: none;
}

a:hover {
    color: violet;
}

img { 
    margin-left: 360px; 
    width: 500px;
    height: 300px;
}



h2 { text-align: center;}